/* general styling rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: olivedrab;
    --text: darkorange;
    --shadow: rgb(0, 0, 0);
}

/* head stylezzz */
header {
    background-color: var(--background);
    color: var(--text);
    font-family: monospace;
    text-shadow: 0 0 8px var(--shadow);
    font-style: oblique;
    background-size: cover;
    justify-content: space-around;
    width: 100%;
    position: sticky; top: 0;
    display: flex;
    align-items: center;
    z-index: 9999;
}
header h1 {
    font-size: 100px;
    text-decoration: none;
}
.Sarah {
    text-decoration: none;
    color: var(--text);
    font-size: 46px;
    list-style: none;
}
.Sarah a:link, a:visited {
    text-decoration: none;
    display: inline-flex;
    color: var(--text);
}
.Sarah a:hover, a:active {
    color: var(--shadow);
  }

/* body styling */
body {
    background-image: url("../Bio/images/Rainbosplosion.jpg");
    background-size: cover;
    width: 100%;
    }
.info-cards {
    justify-content: center;
    margin: 50px;
    padding: 20px;
    min-height: 100vh;
    align-items: center;
    font-size: 3vh;
}
.card {
    height: 250px;
    width: 25%;
    border-radius: 10px;
    background-color: var(--background);
    color: var(--text);
    text-align: center;
    text-shadow: 0 0 8px var(--shadow);
}
.card p {
    padding: 5px;
    color: var(--shadow);
    font-size: 2.5vh;
    text-shadow: none;
}
.info-cards a {
    text-decoration: none;
    font-size: 2vh;
    color: var(--text);
    text-shadow: 0 0 8px var(--shadow);
}
#portfolio-card {
    display: grid;
    align-items: center;
}
.info-cards a:link, a:visited {
    text-decoration: none;
    display: inline-flex;
    color: var(--text);
}
.info-cards a:hover, a:active {
    color: var(--shadow);
  }
.link {
    font-size: 2vh;
}

/* Portfolio page - create separate style sheet when my work overfloweth */
.info-cards img {
    width: 200px;
    height: 200px;
    padding: 50px 0 50px 0;
}

/* stylish foot */
footer {
    background-color: var(--background);
    color: var(--text);
    font-family: monospace;
    text-shadow: 0 0 8px var(--shadow);
    font-style: oblique;
    width: 100%;
    border-bottom: 0px;
    text-align: center;
    font-size: 35px;
}
footer a:link, a:visited {
    text-decoration: none;
    display: inline-flex;
    color: var(--text);
}
footer a:hover, a:active {
    color: var(--shadow);
  }